{%extends "layout.html"%}
{%block content%}
  <div class = "home">
    <h1 class = "logo"> Adicionar novo item </h1>
    <div class = "menu_crud">
      <strong><nav>
        <form class = "form-vertical" action = "add_item" method = "post">
          <div class = "control-group">
            <div class = "controls">
              <input name = "name" type = "text" placeholder = "Digite o nome do item aqui">
              <input name = "quantity" type = "text" placeholder = "Digite a quantidade">
              <input name = "price" type = "text" placeholder = "Digite o preço">
            </div>
              <div class = "form-actions">
                <button type = "submit" class = "btn btn-sucess"> Salvar </button>
                  <a class = "btn" href = "{{url_for('site.itens')}}">voltar</a>
              </div>
          </div>
        </form>
    </div>
  </div>
{%endblock%}
