{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <h1 class = "logo"> Lista de funcionários </h1>
    <div class = "menu_crud">
      <strong><nav>
        <form class = "form-vertical" action = "add_funcio" method = "post">
          	<div class = "control-group col-md-8">
            	<table class="table table-striped table-bordered" name="tabela" id="tabela" >
					<thead>
						<tr>
							<td> ID </td>
							<td> Nome </td>
							<td> Opções </td>
						</tr>
					</thead>
					<tbody>
					{%for row in dados%}
						<tr>
						{%for col in row%}
							<td>{{ col }}</td>
						{%endfor%}
							<div class = "buttons">
								<td><button class = "btn" href = "update_funcio/{{row[0]}}"> Alterar </button></td>
								<td><button class = "btn" href = "viewone_funcio/{{row[0]}}"> Ver </button></td>
								<td><button class = "btn" href = "delete_funcio/{{row[0]}}"> Deletar </button></td>
							</div>
						</tr>
					{%endfor%}
					</tbody>
				</table>
    		</div>
        </form>
    </div>
</div>
{%endblock%}