<!doctype html>
  <html>
    <head>
      <title> WMS Simplify It </title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
      <link rel = "stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
      {%block css%}
      {%endblock%}
    </head>
    <body>
      <header>
        <div class = "container">
          <h1 class = "logo"> Simplify It </h1>
          <strong><nav>
            <ul class = "menu">
              <li><a href = "{{ url_for('site.home') }}"> Home </a></li>
              <li><a href = "{{ url_for('site.about') }}"> About </a></li>
	     			  <li><a href = "{{ url_for('site.itens') }}"> Produtos </a></li>
	            <li><a href = "{{ url_for('site.funcionarios') }}"> Funcionarios </a></li>
	            <li><a href = "{{ url_for('site.pedidos') }}"> Pedidos </a></li>
              <li><a href = "{{ url_for('site.clientes') }}"> Clientes </a></li>
            </ul>
          </nav></strong>
        </div>
      </header>
      <div class = "container">
        {%block content%}
        {%endblock%}
      </div>
      <script src="{{ url_for('static',filename = 'js/jquery-2.2.3.min.js')}}"></script>
      
        {%block js%}
        {%endblock%}      
        <script src="{{ url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
    </body>
  </html>