{%extends "layout.html"%}
{%block content%}
	<div class = "home">
		<h1 class = "logo"> Atualizar informações </h1>
		<div class = "menu_crud">
			<strong><nav>
				<form class = "form-vertical" action = "clientes.clientes_update" method = "post">
					<div class = "control-group">
						<label class = "control-label"> Nome </label>
						<label class = "control-label"> CNPJ </label>
						<div class = "controls">
							<input name = "nome" type = "text" placeholder = "Novo nome!" value = "{{ dados[1] }}">
							<input name = "cnpj" type = "text" placeholder = "Novo CNPJ!" value = "{{ dados[2] }}">
						</div>
						<div class = "form-actions">
							<button type = "submit" class = "btn btn-sucess"> Salvar </button>
								<a class = "btn btn-info" role = "button" href = "{{url_for('site.clientes')}}"> Voltar </a>
						</div>
					</div>
				</form>
		</div>
	</div>
{%endblock%}
