{%extends "layout.html"%}
{%block content%}
	<div class = "home">
		<h1 class = "logo"> Atualizar informações </h1>
		<div class = "menu_crud">
			<strong><nav>
				<form class = "form-vertical" action "func.func_update" method = "post">
					<div class = "control-group">
						<label class = "control-label"> Nome </label>
            <label class = "control-label"> Quantidade </label>
            <label class = "control-label"> Preço </label>
						<div class = "controls">
							<input name = "name" type = "text" placeholder = "Novo nome!" value = "{{ dados[1] }}">
          					<input name = "quantity" type = "text" placeholder = "Nova quantidade!" value = "{{ dados[2] }}">
              				<input name = "price" type = "text" placeholder = "Novo preço!" value = "{{ dados[3] }}">
						</div>
						<div class = "form-actions">
							<button type = "submit" class = "btn btn-sucess"> Salvar </button>
							<button type = "submit" class = "btn" href = "{{url_for('site.itens')}}"> Voltar </button>
						</div>
					</div>
				</form>
		</div>
	</div>
{%endblock%}
