{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <h1 class = "logo"> Lista de Clientes </h1>
    <div class = "menu_crud">
      <strong><nav>
        <form class = "form-vertical" action = "add_clientes" method = "post">
          	<div class = "control-group">
            	<table class="table table-striped table-bordered" name="tabela" id="tabela" >
					<thead>
						<tr>
							<td> ID </td>
							<td> Nome </td>
             				<td> CNPJ </td>
						</tr>
					</thead>
					<tbody>
					{%for row in dados%}
						<tr>
						{%for col in row%}
							<td>{{ col }}</td>
						{%endfor%}
							<div class = "buttons">
								<td><a href = "update_clientes/{{row[0]}}"> Alterar </a></td>
								<td><a href = "viewone_clientes/{{row[0]}}"> Ver </a></td>
								<td><a href = "delete_clientes/{{row[0]}}"> Deletar </td>
							</div>
						</tr>
					{%endfor%}
					</tbody>
				</table>
    		</div>
        </form>
    </div>
</div>
{%endblock%}
