{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <h1 class = "logo"> Lista de Pedidos </h1>
    <div class = "menu_crud">
      <strong><nav>
        <form class = "form-vertical" method = "post">
          	<div class = "control-group col-md-8">
            	<table class="table table-striped table-bordered" name="tabela" id="tabela" >
					<thead>
						<tr>
							<td> ID </td>
							<td> Cliente </td>
                            <td> Status </td>
							<td> Pedido </td>
						</tr>
					</thead>
					<tbody>
					{%for row in dados%}
						<tr>
						{%for col in row%}
							<td>{{ col }}</td>
						{%endfor%}
							<div class = "buttons">
								<td><a class = "btn btn-info" role = "button" href = "update_pedido/{{row[0]}}"> Alterar </a></td>
								<td><a class = "btn btn-info" role = "button" href = "viewone_pedido/{{row[0]}}"> Ver </a></td>
								<td><a class = "btn btn-info" role = "button" href = "delete_pedido/{{row[0]}}"> Deletar </a></td>
							</div>
						</tr>
					{%endfor%}
					</tbody>
				</table>
    		</div>
        </form>
    </div>
</div>
{%endblock%}