{%extends "layout.html"%}
{%block content%}
<div class = "home">
    <h1 class = "logo"> Visualizar registro </h1>
    <div class = "menu_crud">
      <strong><nav>
        <form class = "form-vertical" action = "viewone_item" method = "post">
            <div class = "control-group col-md-8">
                <label class = "control-label"> Nome </label>
                <div class = "controls">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ dados[0] }}</td>
                                <td>{{ dados[1] }}</td>
                                <td>{{ dados[2] }}</td>
                                <td>{{ dados[3] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tr>
                            <td><a class = "btn btn-info" role = "button" href = "/itens/update_item/{{dados[0]}}"> Alterar </a></td>
                            <td><a class = "btn btn-info" role = "button" href = "/itens/delete_item/{{dados[0]}}"> Deletar </a></td>
                            </tr>
                    </table>
                </div>
                    <div class = "form-actions">
                        <button type = "submit" class = "btn btn-sucess"> Salvar </button>
                        <a class = "btn btn-info" role = "button" href = "{{url_for('site.itens')}}">voltar</a>
                    </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}
